/.phpunit.cache
/node_modules
# /public/build
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.env.production
.phpunit.result.cache
Homestead.json
Homestead.yaml
auth.json
npm-debug.log
yarn-error.log
/.fleet
/.idea
/.vscode

# Custom Exclusions
mysql_full_final.sql
mysql_data_only.sql
chk_sqlite.php
export_data_only.php
export_mysql_v3.php
export_mysql_v4.php
fix_routes.php
update_icons.php
fix_cpanel.php
magic_fix.php
repair_db.php
debug_git.php
final_setup.php
database/*.sqlite
run_scrapers.log
run_scrapers.ps1
mysql_database.sql
